<div class="row">
  <div class="container">
    <div class="header">
    <ul class="sidebar">
      <li><a href="">To Do</a></li>
      <li><a href="">In Progres</a></li>
      <li><a href="">In Review</a></li>
      <li><a href="">Done</a></li>
    </ul>
    </div>
  </div>
  <div class="content">
      <div class="container">
        <div class="box-content">
          <h3>Task 1</h3>
          <p>Có người đến, có người đi và có người ở lại</p>
        </div>
        <div class="box-content">
          <h3>Task 2</h3>
          <p>Có lúc khôn và cũng có lần nhỡ dại</p>
        </div>
        <div class="box-content">
          <h3>Task 3</h3>
          <p>Có lúc tủi, có lúc vinh và có lúc thăng hoa</p>
        </div>
        <div class="box-content">
          <h3>Task 1</h3>
          <p>Có người đến, có người đi và có người ở lại</p>
        </div>
        <div class="box-content">
          <h3>Task 2</h3>
          <p>Có lúc khôn và cũng có lần nhỡ dại</p>
        </div>
        <div class="box-content">
          <h3>Task 3</h3>
          <p>Có lúc tủi, có lúc vinh và có lúc thăng hoa</p>
        </div>
        <div class="box-content">
          <h3>Task 1</h3>
          <p>Có người đến, có người đi và có người ở lại</p>
        </div>
        <div class="box-content">
          <h3>Task 2</h3>
          <p>Có lúc khôn và cũng có lần nhỡ dại</p>
        </div>
        <div class="box-content">
          <h3>Task 3</h3>
          <p>Có lúc tủi, có lúc vinh và có lúc thăng hoa</p>
        </div>
      </div>
  </div>
</div>
